.root{
    -fx-background-color: #7B7A79;

}
.label{
   -font-family: "Lucida Console";
   -fx-text-fill: "white";

}

text-idR{
   -font-family: "Rock Salt";
   -font-size: 24px;
   -font-style: normal;
   -font-variant: normal;
   -font-weight: 700;
   -fx-text-fill: "black";
 }